# MAIN CONFIGURATION
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# REDIS CONFIGURATION
REDIS_HOST=
REDIS_PORT=


# MINIO CONFIGURATION
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_WEBHOOK_TOKEN=


# VECTOR DB CONFIGURATION
MILVUS_HOST=
MILVUS_PORT=
MILVUS_DB_NAME=
MILVUS_COLLECTION_NAME=

# CHAT MODEL CONFIGURATION
OLLAMA_BASE_URL=

# KAFKA CONFIGURATION
KAFKA_BOOTSTRAP_SERVERS=

# JWT AND AUTHENTICATION CONFIGURATION
JWT_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION=
JWT_ACCESS_TOKEN_EXPIRATION=

# OTHER SERVICES CONFIGURATION
CLAMAV_HOST=
CLAMAV_PORT=
IMGPROXY_BASE_URL=
IMGPROXY_KEY=
IMGPROXY_SALT=

# EMAIL CONFIGURATION
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=

# OAUTH CONFIGURATION
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# BOOTSTRAP ADMIN USER CONFIGURATION
BOOTSTRAP_ADMIN_PHONE=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_FORCE_RECREATE=

SPEEDSMS_API_URL=
SPEEDSMS_ACCESS_TOKEN=
